* {
  color: rgb(99, 99, 99);
}

.label-number,
.number {
  display: block;
  margin-bottom: 12px;
}

.number {
  background-color: rgba(99, 99, 99, 0.2);
  border: none;
  border-radius: 5px;
  padding: 6px;
}

.button {
  background-color: aqua;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 6px 15px;
  margin-bottom: 10px;
}

.clue,
.attempts {
  width: 315px;
  padding-left: 5px;
  margin-bottom: 10px;
  border: 2px solid rgba(99, 99, 99, 0.3);
}
